.center {
  margin: 0 auto;
}

.abs {
  position: absolute;
}

#car1, #car2 {
  width: 50px;
  height: 25px;
  z-index: 2;

}

#car1 {
  margin-top: 30px;
  background-color: red;
}

#car2 {
  margin-top: 90px;
  background-color: green;
}

#racetrack {
  margin-top: 20px;
  width: 700px;
  height: 150px;
  background-color: blue;
  border: solid 4px black;
}




#christmastree {
	width: 100px;
	height: 250px;
	background-color: black;
	padding-top: 5px;
}


#pre_stage, 
#stage, 
#yellow1,
#yellow2,
#yellow3,
#green,
#red
{
	width: 50px;
	height: 20px;
	margin: 15px auto;
}

#pre_stage {
  background-color: green;
}

#stage {
  background-color: green;
}

#yellow1{
  background-color: yellow;
}

#yellow2{
  background-color: yellow;
}

#yellow3{
  background-color: yellow;
}

#green{
  background-color: green;
}

#red{
  background-color: red;
}


